<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahfuznow.iotree">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".activity.DeviceControlInternetActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.DeviceControlBluetoothActivity"
            android:parentActivityName=".activity.DeviceScanBluetoothActivity" />
        <activity
            android:name=".activity.DeviceScanBluetoothActivity"
            android:label="@string/title_activity_device_scan"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BluetoothLowEnergyService"
            android:enabled="true" />
    </application>

</manifest>